* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 300px;
}
.card {
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    border-radius: 15px;
    overflow: hidden;
}
img {
    max-width: 100%;
    display: inherit;
}
.card-content {
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}
.price {
    display: flex;
    align-items: center;
}
.price-after {
    color:hsl(158, 36%, 37%);
    padding-right: 25px;
}

.price-before {
    color:hsl(228, 12%, 48%);
    text-decoration: line-through;
    
}
.button .cta {
    background-color:hsl(158, 36%, 37%);
    border: none;
    border-radius: 12px;
    padding: 12px 0;
    color: white;

}